main {
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #363636;
}

header {
    background-color: #323232;
}

header div h1 {
    color: #bdbab5;
    font-size: 24px;
    font-weight: 400;
}

header div .navbar {
    background-color: #222222;
    border: none;
}

.navbar-nav li a {
    color: #bdbab5;
    font-size: 12px;
    font-weight: 600;
}

.content {
    background-color: white;
}

.content img {
    width: 100%;
    height: 360px;
}

.content .panel {
    background-color: #eeeeee;
    color: #97969b;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.content .alert {
    color: #97969b;
    border: none;
    border-bottom: 2px solid #dfdfdf;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding-left: 0;
}

.content .row .panel-body {
    padding: 3px;
}

.container {
    padding: 1% 5% 1% 5%;
}

.panel .panel-footer {
    color: #808080;
    font-size: 12px;
    font-weight: 500;
}

.panel-body img {
    width: 100%;
    height: 315px;
}

footer {
    background-color: #222222;
    padding: 2% 10% 2% 10%;
}

footer p {
    color: #808080;
    font-size: 12px;
    font-weight: 500;
}

@media (max-width: 767px) {
    footer div p .text-right { text-align:center }
}

.bottomSpacing {
    margin-bottom: 15px;
}